* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 height: 100vh;
 font-family: "Archivo", sans-serif;
}

button {
 background-color: #CD3C32;
 width: 200px;
 height: 30px;
 color: white;
 border: #CD3C32;
 border-radius: 4px;
 font-family: "Roboto", sans-serif;
 font-size: 10px;
 font-weight: 500;
 cursor: pointer;
}

